:root {
    --bg-color-primary: #f4ecd8;
    --bg-color-secondary: #efe7d9;
    --bg-color-tertiary: #e8e0d3;
    --text-color-dark: #4b3d2b;
    --text-color-light: #706352;
    --heading-color-main: #4b3d2b;
    --heading-color-secondary: #966f33;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --container-shadow: rgba(0, 0, 0, 0.1);
    --container-shadow-hover: rgba(0, 0, 0, 0.2);
    --accent-color-gold: #966f33;
    --accent-color-blue: #007bff;
    --nav-active-bg: #e2d9c8;
    --nav-active-border: #c4b9a8;
    --nav-hover-bg: #ede6d6;
    --arabic-letter-color: #4b3d2b;
    --card-border-color: #d1c8b7; /* New border color for sepia theme */
}